{%extends "base.html"%} {%block content%} {% if request.user.is_authenticated %}
<div id="messageContainer">
    {% for message in messages %}

    <div>
        <span class="color-grey">[{{message.created_at}}]</span> {{ message.author.first_name }}: <i>{{ message.text }}</i>
    </div>

    {% endfor %}
</div>
<!-- Accent-colored raised button with ripple -->
<!-- Textfield with Floating Label -->
<script>
    async function sendMessage() {
        let fd = new FormData();
        let token = '{{csrf_token}}'
        fd.append('textmessage', messagefield.value);
        fd.append('csrfmiddlewaretoken', token);

        try {
            messageContainer.innerHTML += ` <div id="deleteMessage">
             <span class="color-grey">[Date]</span> : {{ request.user.first_name }} <i class="color-grey">${messagefield.value}</i>
             </div>`;
            let response = await fetch('/chat/', {
                method: 'POST',
                body: fd
            });
            let json = await response.json();
            console.log(json)

            document.getElementById('deleteMessage').remove();
            messageContainer.innerHTML += ` <div>
             <span class="color-grey">[Date]</span> : {{ request.user.first_name }} <i>${messagefield.value}</i>
             </div>`;
            console.log('Success!!')
        } catch (e) {
            console.error('Error', e)

        }



    }

    function sendFalse() {
        return false;
    }
</script>

<form onsubmit="sendMessage(); sendFalse();" method="post">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input name="textmessage" class="mdl-textfield__input" type="text" id="messagefield">
        <label class="mdl-textfield__label" for="messagefield">Text...</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
     Send
 </button>
</form>
{%else%}

<h1>Not logged in</h1>
<p>You are not logged in at the moment. Please log in.</p><br> Please click <a href="/login/">here</a> {%endif%} {%endblock%}