.page-content {
    padding-left: 100px;
    padding-top: 100px;
}

.color-grey {
    color: rgba(0, 0, 0, 0.4);
}

.send-message {
    display: flex;
    align-items: center;
}

.margin-left {
    margin-left: 8px;
}

.d-none {
    display: none;
}

.red {
    color: red;
}

.hooks {
    height: 10px;
    width: 8px;
    object-fit: cover;
}

@media (max-width: 570px) {
    .page-content {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}

@media (max-width: 350px) {
    .page-content {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .welcome-mobile {
        display: none;
    }
}

.center {
    display: flex !important;
}

.center h2 {
    font-size: 16px;
    padding-left: 5px;
}