.page-content {
    padding-left: 16px;
    padding-top: 16px;
}

h1 {
    margin-bottom: 0;
    margin-top: 64px;
}

.color-grey {
    color: rgba(0, 0, 0, 0.4);
}

.send-message {
    display: flex;
    align-items: center;
}

.margin-left {
    margin-left: 16px;
}

.d-none {
    display: none;
}

.red {
    color: red;
}

.show-left {
    padding: 0;
}

.hooks {
    height: 10px;
    width: 8px;
    object-fit: cover;
}

#div_id_username {
    margin-bottom: 16px;
    margin-top: 16px;
}

.add-chatroom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px;
}

.message-container {
    width: 180px;
    height: auto;
    background-color: rgb(63, 81, 181);
    color: #fff;
    padding: 20px;
    position: relative;
    margin: 40px;
    border-radius: 10px;
}

.message-container:after {
    content: " ";
    position: absolute;
    right: -15px;
    top: 15px;
    border-top: 15px solid transparent;
    border-right: none;
    border-left: 15px solid rgb(63, 81, 181);
    border-bottom: 15px solid transparent;
}

.add-chatroom-container>button {
    margin: 0;
}

@media (max-width: 570px) {
    .page-content {
        padding-left: 16px !important;
        padding-right: 16px !important;
        padding-top: 16px !important;
    }
}

@media (max-width: 350px) {
    .page-content {
        padding-left: 8px !important;
        padding-right: 8px !important;
        padding-top: 8px !important;
    }
    .welcome-mobile {
        display: none;
    }
    .mdl-textfield {
        width: 250px !important;
    }
}

.center {
    display: flex !important;
}

.center h2 {
    font-size: 16px;
    padding-left: 16px;
}